.contenedorBtnFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btnFilter {
    color: #fff;
}

.btnFilter li {
    background-color: rgb(165, 0, 96);
    padding: 5px;
    margin-top: 10px;
    border-radius: 8%;
    border: solid 2px rgb(204, 0, 119);
}