.contenedorNav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.contenedorBotones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.btnNavBar li {
    background-color: rgb(165, 0, 96);
    padding: 10px;
    border-radius: 8%;
    border: solid 2px rgb(204, 0, 119);
}

.contenedorCart {
    display: flex;
}

.logo img {
    width: 10vw;
    min-width: 50px;
    max-width: 100px;
    height: auto;
    margin: 10px;
}

.transicion {
    transition: all 500ms;
}

.transicion:hover {
    border-radius: 30px;
    background-color: #d3d3d3;
    transition: 0.2s;
    transform: scale(1.175);
}

.gradientAnim {
    background-size: 400% 400%;
    animation: gradientAnim 15s ease infinite;
}

.gradientAnim .fadeAnim {
    animation-name: fade;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

.gradientAnim .fadeAnim .voltearLogo {
    animation-name: voltear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes voltear {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes gradientAnim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}